<h4 mat-dialog-title>
  <mat-toolbar role="toolbar" class="task-header">
      <span> Okienko dialogowe</span>
      <span class="fx-spacer"></span>
      <button mat-icon-button (click)="closeModal()">
          <mat-icon mat-list-icon>close</mat-icon>
      </button>
  </mat-toolbar>
</h4>
<div mat-dialog-content>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field>
      <mat-label>Podaj Imię i Nazwisko</mat-label>
      <input matInput type="text" name="fullName" formControlName="fullName">
    </mat-form-field>
    <br>
    <input type = "submit" value = "Send">
  </form> 

{{odczyt}}
  
</div>







 

   


      




  

  
  
  
  
     
  




    
    
    

